body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6f2;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #ff99cc;
    color: white;
    border: none;
    cursor: pointer;
}

#product-list img {
    max-width: 100px;
}
